dev/jade/index.jade
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		title Document

		//- js files
		//-
		script(src="../js/jquery-2.1.3.min.js")
		script(src="http://code.jquery.com/ui/1.11.2/jquery-ui.js")
		script(src="../js/bootstrap.min.js")
		script(src="../js/main.js")

		//- CSS files
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,700italic&subset=latin,cyrillic-ext',rel='stylesheet',type='text/css')
		link(rel="stylesheet", href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
		link(rel="stylesheet", href="../css/bootstrap.min.css")
		link(rel="stylesheet", href="../css/bw-theme.css")

		body
		.header
			.pull-left
				a(href="#").logo Arget
			a(href="#",data-toggle="collapse",data-target=".navbar-collapse").navbar-toggle Menu >
			.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href="#") Home
					li
						a(href="#") Features
					li
						a(href="#") Portfolio
					li
						a(href="#") Contact
		.parallax

			#home.parallax__group.zi-1
				.parallax__layer.parallax__layer--base.top64
					.container.height-100
						.home-title
							p
								span.home-phrase-we WE 
								span.home-phrase-are ARE 
								span.home-phrase-not NOT 
								span L
								span.home-phrase-arget ARGE 
								span.home-phrase-arget.home-phrase-team T
								span.home-phrase-team EAM 
							p
								span.home-phrase-that THAT 
								span.home-phrase-make MAKE
								span S 
								span.home-phrase-great GREAT 
								span.home-phrase-projects PROJECTS
				.parallax__layer.parallax__layer--back.bg-layer
					.pattern

			#features.parallax__group.zi-2.gray-layer
				.parallax__layer.parallax__layer--fore2
					.container.height-100
						.vertical-middle.height-100
							.content-wrapp
								.title-name.text-center
									|Features
								.row
									.col-md-3.col-sm-6.item-features
										.img.disp-ib
											img(src="../img/img-features-strategy.png", alt="")
										.text-title-features 
											|Our Strategy
										.description-features
											|We take your idea, we use our experience and the result is a carefully thought-out product with an amazing user interface.
									.col-md-3.col-sm-6.item-features
										.img.disp-ib
											img(src="../img/img-features-dev.png", alt="")
										.text-title-features 
											|App Development
										.description-features
											|We realize projects of varying complexity, from small Internet service customers and to the multi-enterprise systems.
									.col-md-3.col-sm-6.item-features
										.img.disp-ib
											img(src="../img/img-features-code.png", alt="")
										.text-title-features 
											|Native code
										.description-features
											|We create only native codethat allows use more effectively the capabilities of the platform. And also provides the speed and smoothness of the UI.
									.col-md-3.col-sm-6.item-features
										.img.disp-ib
											img(src="../img/img-features-support.png", alt="")
										.text-title-features 
											|Device Support
										.description-features
											|We create applications running on phones and on the tablet. As well as carry out a full test on different devices.
				.parallax__layer.parallax__layer--base.bg-layer

			#media-cab.parallax__group.zi-1
				.parallax__layer.parallax__layer--base.top64
					table(class="table-content")
						tr
							td(class="title-table")
								.title-name.text-center
									|MediaCab
						tr
							td(class="content-table")
								.container.height-100
									.row.height-100
										.col-md-7.height-100
											.big-img
										.col-md-5.height-100.vertical-middle
											.content-wrapp
												#accordion.panel-group
													.panel
														.panel-title(data-toggle='collapse',data-parent='#accordion',href='#collapseFeatures')
															|Features
															.img-arrow
														#collapseFeatures.panel-collapse.collapse.in
															.panel-body
																p
																	|- Реализована в виде системного приложения с использованием расширенного API-android.
																p
																	|- Многомодульная система состоящая из нескольких приложений и сервисов, обеспечивающих отказоустойчивость всей системы.
																p
																	|- Полноценное удаленное управление и конфигурирование системой MediaCab и Android.
																p
																	|- Интеллектуальная система определения пассажира, в том числе распознавание по лицу.
																p
																	|- Полноценная офлайн работа.
																p
																	|- Система загрузки и сохранения (кеширования, синхронизации) контента.
																p
																	|- Возможность удаленного управления и выполнения команд.
													.panel
														.panel-title(data-toggle='collapse',data-parent='#accordion',href='#collapseContent').collapsed
															|Content
															.img-arrow
														#collapseContent.panel-collapse.collapse
															.panel-body
																|Во время поездки пассажирам демонстрируются развлекательные и рекламные ролики. Имеется система интерактивных баннеров. Клиент может просматривать интернет ресурсы предоставленные рекламодателями. В поездке пассажиры могут ознакомиться с актуальной погодой в регионе даже если отсутствует соединение с интернетом. В пути, в зависимости от места которое сейчас проезжает такси, на экране будут проигрываться геотаргетированные ролики и банеры. По окончании поездки будут предложены вопросы для оценки качества услуг и не только, тем самым создавая прямой диалог между клиентом и рекламодателями, что позволит сделать  систему ещё лучше.
													.panel
														.panel-title(data-toggle='collapse',data-parent='#accordion',href='#collapseNavigation').collapsed
															|Navigation
															.img-arrow
														#collapseNavigation.panel-collapse.collapse
															.panel-body
																|Реализована работа с офлайн картами, что существенно экономит интернет трафик и обеспечивает плавную работу карты без притормаживания. Всё время поездки на карте отрисовывается трек маршрута передвижения. На карте, особыми значками, отображаются рекламные объекты и достопримечательности. Так же за машиной можно следить в реальном времени благодаря GPS-трекингу.
													.panel
														.panel-title(data-toggle='collapse',data-parent='#accordion',href='#collapsePayment').collapsed
															|Payment
															.img-arrow
														#collapsePayment.panel-collapse.collapse
															.panel-body
																|Реализована система платежей через терминал для оплаты проезда банковской картой (Visa, MasterCard, American Express) и выдача чека. С поддержкой всех типов пластиковых карт: магнитные, чиповые, бесконтактные. Это обеспечивает комфорт и удобство как пассажиру так и водителю. Оплата картой экономит время, нет необходимости тратить время на поиски места обмена валют или на получение наличных в банкоматах и кассах. Позволяет избежать путаницы со здачей и чаевыми. Так же позволяет клиенту выбрать предпочтительный для него способ оплаты.
				.parallax__layer.parallax__layer--back.bg-layer
					.pattern

			#one-play.parallax__group.zi-2.gray-layer
				.parallax__layer.parallax__layer--fore2.top64
					.container.height-100
						.row.height-100
							.col-md-5.height-100.vertical-middle
								.content-wrapp
									.title-name.text-center
										.img.disp-ib
											img(src="../img/ico-oneplay.png", alt="")
										|OnePlay
									.description.text-center
										|There’s nothing GamerFish likes to watch more than NetFlix. So many movies, just one price. Often GamerFish has wished for a gaming site that offered a similar service. Well,GamerFish has found that service: OnePlay.com. OnePlay has a large library (1000+) of rental games for both the PC and Android. Ever not bought a game because you weren’t complete sure you’d like it? Well, no more! OnePlay is one price plays all.
									a.link-download.g-play(href="#")
							.col-md-7.height-100
								.big-img
				.parallax__layer.parallax__layer--base.bg-layer

			#kinosovetnik.parallax__group.zi-1
				.parallax__layer.parallax__layer--base.top64
					.container.height-100
						.row.height-100
							.col-md-5.height-100
								.big-img 
							.col-md-7.height-100.vertical-middle
								.content-wrapp
									.title-name.text-center
										.img.disp-ib
											img(src="../img/ico-kino.png", alt="")
										|KinoSovetnik
									.description.text-center
										|Kinosovetnik - is the realization of the idea of our own applications, we recommend movies for viewing. This unique application is by means of a wave of phone you choose for an interesting movie. Film Database application contains more than 1,500 pictures of different genres. Simple but beautiful interface will not bother you with long-term use of this application. Smooth and colorful animation films provide change (preukrasit) (not) a boring selection of movies. A detailed description of the film will help you make the right choice.
									a.link-download.g-play(href="#")
				.parallax__layer.parallax__layer--back.bg-layer

			#itevents.parallax__group.zi-2.gray-layer
				.parallax__layer.parallax__layer--fore2.top64
					.container.height-100
						.row.height-100
							.col-md-7.height-100.vertical-middle
								.content-wrapp
									.title-name.text-center
										.img.disp-ib
											img(src="../img/ico-itevents.png", alt="")
										|ITevents
									.description.text-center
										|ITevents.io is an informational startup that helps users always keep in touch with all local IT events with an app on their android devices. Our main goal is to gather information about all local IT-events and bring it to the user in a convenient format via ITevents app. You can briefly checklist of IT events at a glance and tap on the event you are interested in to open detailed information. Now you don't need to spend lots of time seeking for IT events all over the internet, with our app you can keep abreast of events on the run and easily find interesting meetup.
										The main goal of ITevents.io is a development of the IT sphere, including improving the efficiency and speed of information exchange and better integration and interaction in IT community.
									a.link-download.g-play(href="#")
							.col-md-5.height-100
								.big-img 
				.parallax__layer.parallax__layer--base.bg-layer

			#minsk.parallax__group.zi-1
				.parallax__layer.parallax__layer--base.top64
					.container.height-100
						.row.height-100
							.col-md-7.height-100
								.big-img
							.col-md-5.height-100.vertical-middle
								.content-wrapp
									.title-name.text-center
										.img.disp-ib
											img(src="../img/ico-minsk.png", alt="")
										|Minsk
									.description.text-center
										|The project "Minsk for Android" is porting applications Minsk for iOS. Appendix Minsk - is a complete mobile guide in Minsk, working in offline mode!• Detailed information about the most interesting sights of Minsk;• Overview of useful information about the city (history, weather, transport, culture, etc.);• A list of establishments (restaurants, cafes, bars, hotels, etc.), with their addresses, phone numbers, mode of operation and other information;
									a.link-download.g-play(href="#")
				.parallax__layer.parallax__layer--back.bg-layer
					.pattern

			#calc.parallax__group.zi-2.gray-layer
				.parallax__layer.parallax__layer--fore2.top64
					.container.height-100
						.row.height-100
							.col-md-7.height-100.vertical-middle
								.content-wrapp
									.title-name.text-center
										.img.disp-ib
											img(src="../img/ico-calc.png", alt="")
										|Calc
									.subtitle-name.text-center
										|It just calculates
									.description.text-center
										|Calc is just a calculator that calculates for you.The application provides a display with capacity of 12 digits, which gives you the opportunity to work with very large or small quantities with great accuracy. For your convenience, Calc provides a record of the current mathematical expression with all operations at the top of the display. Calculator performs arithmetic operations such as addition and subtraction, multiplication and division, all that is necessary for standard computing. Calc is designed in a realistic and convenient for the user way. The keys are performed in different contrasting colors in order to identify different groups of key functionality. Also, the usable vibration response system is applied, which allows to perceive the key type with a touch.
									a.link-download.g-play(href="#")
							.col-md-5.height-100
								.big-img 
				.parallax__layer.parallax__layer--base.bg-layer

			#bigbeat-radio.parallax__group.zi-1
				.parallax__layer.parallax__layer--base.top64
					.container.height-100
						#bigbeat-radio-img.height-100
							.container.height-100
								.big-img
						.title-name.text-center
							.img.disp-ib
								img(src="../img/ico-bigbeat-radio.png", alt="")
							|BigBeat Radio
				.parallax__layer.parallax__layer--back.bg-layer
					.pattern

			#crimea-guide.parallax__group.zi-2.gray-layer
				.parallax__layer.parallax__layer--fore2.top64
					.container.height-100
						.row.height-100
							.col-md-6.height-100
								.big-img 
							.col-md-6.height-100.vertical-middle
								.content-wrapp
									.title-name.text-center
										.img.disp-ib
											img(src="../img/ico-crimea.png", alt="")
										|Crimea Guide
									.description.text-center
										|Appendix Crimea - a mobile guide on the Crimean peninsula, working in offline mode! The information in the application can be viewed not only in general, but also by a specific city (so you automatically filters out all sections of the guide for the selected city). In the "General", presented much useful information about the Crimea, its nature, the climate, the rules of crossing the border, the implementation of international calls, etc. The main section of the application is a list of attractions, beaches and places to visit, a list of restaurants, cafes, hotels, etc.
									a.link-download.g-play(href="#")
				.parallax__layer.parallax__layer--base.bg-layer

			#contact.parallax__group.zi-1
				.parallax__layer.parallax__layer--base.top64
					.container.height-100
						.vertical-middle.height-100
							.content-wrapp
								.title-name.text-center
									|Contact Us
								.row
									.col-md-6.vertical-middle
										a(href="" id="skype" class="item-contact")
											img(src="../img/ico-skype-gray.png", alt="")
											.content-item-contact
												.title-content-item-contact
													|Skype:
												|arget.work
										a(href="" id="email" class="item-contact")
											img(src="../img/ico-email-gray.png", alt="")
											.content-item-contact
												.title-content-item-contact
													|Email:
												|arget.work@gmail.com
										a(href="" id="linkedin" class="item-contact")
											img(src="../img/ico-linkedin-gray.png", alt="")
											.content-item-contact
												.title-content-item-contact
													|Linkedin:
												|www.linkedin.com/in/arget
									.col-md-5.col-md-offset-1
										form.form-email
											.form-content
												.form-group
													input(type='text')
													label Name
													span.bar
												.form-group
													input(type='email')
													label Email
													span.bar
												.form-group
													textarea(required='')
													label Your Message
													span.bar
											.form-action
												button.button-send(type='button')
													| SEND
													.ripples
														span.ripplesCircle
				.parallax__layer.bg-layer
					.pattern2

build/html/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <script src="../js/jquery-2.1.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bw-theme.css">
    <body></body>
    <div class="header">
      <div class="pull-left"><a href="#" class="logo">Arget</a></div><a href="#" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">Menu ></a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="parallax">
      <div id="home" class="parallax__group zi-1">
        <div class="parallax__layer parallax__layer--base top64">
          <div class="container height-100">
            <div class="home-title">
              <p><span class="home-phrase-we">WE </span><span class="home-phrase-are">ARE </span><span class="home-phrase-not">NOT </span><span>L</span><span class="home-phrase-arget">ARGE </span><span class="home-phrase-arget home-phrase-team">T</span><span class="home-phrase-team">EAM </span></p>
              <p><span class="home-phrase-that">THAT </span><span class="home-phrase-make">MAKE</span><span>S </span><span class="home-phrase-great">GREAT </span><span class="home-phrase-projects">PROJECTS</span></p>
            </div>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--back bg-layer">
          <div class="pattern"></div>
        </div>
      </div>
      <div id="features" class="parallax__group zi-2 gray-layer">
        <div class="parallax__layer parallax__layer--fore2">
          <div class="container height-100">
            <div class="vertical-middle height-100">
              <div class="content-wrapp">
                <div class="title-name text-center">Features</div>
                <div class="row">
                  <div class="col-md-3 col-sm-6 item-features">
                    <div class="img disp-ib"><img src="../img/img-features-strategy.png" alt=""></div>
                    <div class="text-title-features">
                       
                      Our Strategy
                    </div>
                    <div class="description-features">We take your idea, we use our experience and the result is a carefully thought-out product with an amazing user interface.</div>
                  </div>
                  <div class="col-md-3 col-sm-6 item-features">
                    <div class="img disp-ib"><img src="../img/img-features-dev.png" alt=""></div>
                    <div class="text-title-features">
                       
                      App Development
                    </div>
                    <div class="description-features">We realize projects of varying complexity, from small Internet service customers and to the multi-enterprise systems.</div>
                  </div>
                  <div class="col-md-3 col-sm-6 item-features">
                    <div class="img disp-ib"><img src="../img/img-features-code.png" alt=""></div>
                    <div class="text-title-features">
                       
                      Native code
                    </div>
                    <div class="description-features">We create only native codethat allows use more effectively the capabilities of the platform. And also provides the speed and smoothness of the UI.</div>
                  </div>
                  <div class="col-md-3 col-sm-6 item-features">
                    <div class="img disp-ib"><img src="../img/img-features-support.png" alt=""></div>
                    <div class="text-title-features">
                       
                      Device Support
                    </div>
                    <div class="description-features">We create applications running on phones and on the tablet. As well as carry out a full test on different devices.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--base bg-layer"></div>
      </div>
      <div id="media-cab" class="parallax__group zi-1">
        <div class="parallax__layer parallax__layer--base top64">
          <table class="table-content">
            <tr>
              <td class="title-table">
                <div class="title-name text-center">MediaCab</div>
              </td>
            </tr>
            <tr>
              <td class="content-table">
                <div class="container height-100">
                  <div class="row height-100">
                    <div class="col-md-7 height-100">
                      <div class="big-img"></div>
                    </div>
                    <div class="col-md-5 height-100 vertical-middle">
                      <div class="content-wrapp">
                        <div id="accordion" class="panel-group">
                          <div class="panel">
                            <div data-toggle="collapse" data-parent="#accordion" href="#collapseFeatures" class="panel-title">Features
                              <div class="img-arrow"></div>
                            </div>
                            <div id="collapseFeatures" class="panel-collapse collapse in">
                              <div class="panel-body">
                                <p>- Реализована в виде системного приложения с использованием расширенного API-android.</p>
                                <p>- Многомодульная система состоящая из нескольких приложений и сервисов, обеспечивающих отказоустойчивость всей системы.</p>
                                <p>- Полноценное удаленное управление и конфигурирование системой MediaCab и Android.</p>
                                <p>- Интеллектуальная система определения пассажира, в том числе распознавание по лицу.</p>
                                <p>- Полноценная офлайн работа.</p>
                                <p>- Система загрузки и сохранения (кеширования, синхронизации) контента.</p>
                                <p>- Возможность удаленного управления и выполнения команд.</p>
                              </div>
                            </div>
                          </div>
                          <div class="panel">
                            <div data-toggle="collapse" data-parent="#accordion" href="#collapseContent" class="panel-title collapsed">Content
                              <div class="img-arrow"></div>
                            </div>
                            <div id="collapseContent" class="panel-collapse collapse">
                              <div class="panel-body">Во время поездки пассажирам демонстрируются развлекательные и рекламные ролики. Имеется система интерактивных баннеров. Клиент может просматривать интернет ресурсы предоставленные рекламодателями. В поездке пассажиры могут ознакомиться с актуальной погодой в регионе даже если отсутствует соединение с интернетом. В пути, в зависимости от места которое сейчас проезжает такси, на экране будут проигрываться геотаргетированные ролики и банеры. По окончании поездки будут предложены вопросы для оценки качества услуг и не только, тем самым создавая прямой диалог между клиентом и рекламодателями, что позволит сделать  систему ещё лучше.</div>
                            </div>
                          </div>
                          <div class="panel">
                            <div data-toggle="collapse" data-parent="#accordion" href="#collapseNavigation" class="panel-title collapsed">Navigation
                              <div class="img-arrow"></div>
                            </div>
                            <div id="collapseNavigation" class="panel-collapse collapse">
                              <div class="panel-body">Реализована работа с офлайн картами, что существенно экономит интернет трафик и обеспечивает плавную работу карты без притормаживания. Всё время поездки на карте отрисовывается трек маршрута передвижения. На карте, особыми значками, отображаются рекламные объекты и достопримечательности. Так же за машиной можно следить в реальном времени благодаря GPS-трекингу.</div>
                            </div>
                          </div>
                          <div class="panel">
                            <div data-toggle="collapse" data-parent="#accordion" href="#collapsePayment" class="panel-title collapsed">Payment
                              <div class="img-arrow"></div>
                            </div>
                            <div id="collapsePayment" class="panel-collapse collapse">
                              <div class="panel-body">Реализована система платежей через терминал для оплаты проезда банковской картой (Visa, MasterCard, American Express) и выдача чека. С поддержкой всех типов пластиковых карт: магнитные, чиповые, бесконтактные. Это обеспечивает комфорт и удобство как пассажиру так и водителю. Оплата картой экономит время, нет необходимости тратить время на поиски места обмена валют или на получение наличных в банкоматах и кассах. Позволяет избежать путаницы со здачей и чаевыми. Так же позволяет клиенту выбрать предпочтительный для него способ оплаты.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="parallax__layer parallax__layer--back bg-layer">
          <div class="pattern"></div>
        </div>
      </div>
      <div id="one-play" class="parallax__group zi-2 gray-layer">
        <div class="parallax__layer parallax__layer--fore2 top64">
          <div class="container height-100">
            <div class="row height-100">
              <div class="col-md-5 height-100 vertical-middle">
                <div class="content-wrapp">
                  <div class="title-name text-center">
                    <div class="img disp-ib"><img src="../img/ico-oneplay.png" alt=""></div>OnePlay
                  </div>
                  <div class="description text-center">There’s nothing GamerFish likes to watch more than NetFlix. So many movies, just one price. Often GamerFish has wished for a gaming site that offered a similar service. Well,GamerFish has found that service: OnePlay.com. OnePlay has a large library (1000+) of rental games for both the PC and Android. Ever not bought a game because you weren’t complete sure you’d like it? Well, no more! OnePlay is one price plays all.</div><a href="#" class="link-download g-play"></a>
                </div>
              </div>
              <div class="col-md-7 height-100">
                <div class="big-img"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--base bg-layer"></div>
      </div>
      <div id="kinosovetnik" class="parallax__group zi-1">
        <div class="parallax__layer parallax__layer--base top64">
          <div class="container height-100">
            <div class="row height-100">
              <div class="col-md-5 height-100">
                <div class="big-img"> </div>
              </div>
              <div class="col-md-7 height-100 vertical-middle">
                <div class="content-wrapp">
                  <div class="title-name text-center">
                    <div class="img disp-ib"><img src="../img/ico-kino.png" alt=""></div>KinoSovetnik
                  </div>
                  <div class="description text-center">Kinosovetnik - is the realization of the idea of our own applications, we recommend movies for viewing. This unique application is by means of a wave of phone you choose for an interesting movie. Film Database application contains more than 1,500 pictures of different genres. Simple but beautiful interface will not bother you with long-term use of this application. Smooth and colorful animation films provide change (preukrasit) (not) a boring selection of movies. A detailed description of the film will help you make the right choice.</div><a href="#" class="link-download g-play"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--back bg-layer"></div>
      </div>
      <div id="itevents" class="parallax__group zi-2 gray-layer">
        <div class="parallax__layer parallax__layer--fore2 top64">
          <div class="container height-100">
            <div class="row height-100">
              <div class="col-md-7 height-100 vertical-middle">
                <div class="content-wrapp">
                  <div class="title-name text-center">
                    <div class="img disp-ib"><img src="../img/ico-itevents.png" alt=""></div>ITevents
                  </div>
                  <div class="description text-center">ITevents.io is an informational startup that helps users always keep in touch with all local IT events with an app on their android devices. Our main goal is to gather information about all local IT-events and bring it to the user in a convenient format via ITevents app. You can briefly checklist of IT events at a glance and tap on the event you are interested in to open detailed information. Now you don't need to spend lots of time seeking for IT events all over the internet, with our app you can keep abreast of events on the run and easily find interesting meetup.
                    <The>main goal of ITevents.io is a development of the IT sphere, including improving the efficiency and speed of information exchange and better integration and interaction in IT community.</The>
                  </div><a href="#" class="link-download g-play"></a>
                </div>
              </div>
              <div class="col-md-5 height-100">
                <div class="big-img"> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--base bg-layer"></div>
      </div>
      <div id="minsk" class="parallax__group zi-1">
        <div class="parallax__layer parallax__layer--base top64">
          <div class="container height-100">
            <div class="row height-100">
              <div class="col-md-7 height-100">
                <div class="big-img"></div>
              </div>
              <div class="col-md-5 height-100 vertical-middle">
                <div class="content-wrapp">
                  <div class="title-name text-center">
                    <div class="img disp-ib"><img src="../img/ico-minsk.png" alt=""></div>Minsk
                  </div>
                  <div class="description text-center">The project "Minsk for Android" is porting applications Minsk for iOS. Appendix Minsk - is a complete mobile guide in Minsk, working in offline mode!• Detailed information about the most interesting sights of Minsk;• Overview of useful information about the city (history, weather, transport, culture, etc.);• A list of establishments (restaurants, cafes, bars, hotels, etc.), with their addresses, phone numbers, mode of operation and other information;</div><a href="#" class="link-download g-play"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--back bg-layer">
          <div class="pattern"></div>
        </div>
      </div>
      <div id="calc" class="parallax__group zi-2 gray-layer">
        <div class="parallax__layer parallax__layer--fore2 top64">
          <div class="container height-100">
            <div class="row height-100">
              <div class="col-md-7 height-100 vertical-middle">
                <div class="content-wrapp">
                  <div class="title-name text-center">
                    <div class="img disp-ib"><img src="../img/ico-calc.png" alt=""></div>Calc
                  </div>
                  <div class="subtitle-name text-center">It just calculates</div>
                  <div class="description text-center">Calc is just a calculator that calculates for you.The application provides a display with capacity of 12 digits, which gives you the opportunity to work with very large or small quantities with great accuracy. For your convenience, Calc provides a record of the current mathematical expression with all operations at the top of the display. Calculator performs arithmetic operations such as addition and subtraction, multiplication and division, all that is necessary for standard computing. Calc is designed in a realistic and convenient for the user way. The keys are performed in different contrasting colors in order to identify different groups of key functionality. Also, the usable vibration response system is applied, which allows to perceive the key type with a touch.</div><a href="#" class="link-download g-play"></a>
                </div>
              </div>
              <div class="col-md-5 height-100">
                <div class="big-img"> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--base bg-layer"></div>
      </div>
      <div id="bigbeat-radio" class="parallax__group zi-1">
        <div class="parallax__layer parallax__layer--base top64">
          <div class="container height-100">
            <div id="bigbeat-radio-img" class="height-100">
              <div class="container height-100">
                <div class="big-img"></div>
              </div>
            </div>
            <div class="title-name text-center">
              <div class="img disp-ib"><img src="../img/ico-bigbeat-radio.png" alt=""></div>BigBeat Radio
            </div>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--back bg-layer">
          <div class="pattern"></div>
        </div>
      </div>
      <div id="crimea-guide" class="parallax__group zi-2 gray-layer">
        <div class="parallax__layer parallax__layer--fore2 top64">
          <div class="container height-100">
            <div class="row height-100">
              <div class="col-md-6 height-100">
                <div class="big-img"> </div>
              </div>
              <div class="col-md-6 height-100 vertical-middle">
                <div class="content-wrapp">
                  <div class="title-name text-center">
                    <div class="img disp-ib"><img src="../img/ico-crimea.png" alt=""></div>Crimea Guide
                  </div>
                  <div class="description text-center">Appendix Crimea - a mobile guide on the Crimean peninsula, working in offline mode! The information in the application can be viewed not only in general, but also by a specific city (so you automatically filters out all sections of the guide for the selected city). In the "General", presented much useful information about the Crimea, its nature, the climate, the rules of crossing the border, the implementation of international calls, etc. The main section of the application is a list of attractions, beaches and places to visit, a list of restaurants, cafes, hotels, etc.</div><a href="#" class="link-download g-play"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--base bg-layer"></div>
      </div>
      <div id="contact" class="parallax__group zi-1">
        <div class="parallax__layer parallax__layer--base top64">
          <div class="container height-100">
            <div class="vertical-middle height-100">
              <div class="content-wrapp">
                <div class="title-name text-center">Contact Us</div>
                <div class="row">
                  <div class="col-md-6 vertical-middle"><a href="" id="skype" class="item-contact"><img src="../img/ico-skype-gray.png" alt="">
                      <div class="content-item-contact">
                        <div class="title-content-item-contact">Skype:</div>arget.work
                      </div></a><a href="" id="email" class="item-contact"><img src="../img/ico-email-gray.png" alt="">
                      <div class="content-item-contact">
                        <div class="title-content-item-contact">Email:</div>arget.work@gmail.com
                      </div></a><a href="" id="linkedin" class="item-contact"><img src="../img/ico-linkedin-gray.png" alt="">
                      <div class="content-item-contact">
                        <div class="title-content-item-contact">Linkedin:</div>www.linkedin.com/in/arget
                      </div></a></div>
                  <div class="col-md-5 col-md-offset-1">
                    <form class="form-email">
                      <div class="form-content">
                        <div class="form-group">
                          <input type="text">
                          <label>Name</label><span class="bar"></span>
                        </div>
                        <div class="form-group">
                          <input type="email">
                          <label>Email</label><span class="bar"></span>
                        </div>
                        <div class="form-group">
                          <textarea required=""></textarea>
                          <label>Your Message</label><span class="bar"></span>
                        </div>
                      </div>
                      <div class="form-action">
                        <button type="button" class="button-send">SEND
                          <div class="ripples"><span class="ripplesCircle"></span></div>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="parallax__layer bg-layer">
          <div class="pattern2"></div>
        </div>
      </div>
    </div>
  </head>
</html>
